<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <title>로그인, 회원가입 실습</title>
</head>
  <body>
    <h1>오렌지님 환영합니다.</h1>
    <ul>
      
      <!-- <li>테스트</li>
      
      <li>바나나</li>
      
      <li>하이욤</li>
      
      <li>나는사과</li>
      
      <li>사과</li>
      
      <li>testName</li>
      
      <li>홍길동</li>
      
      <li>오렌지</li> -->
      
    </ul>
  </body>
</html>
