<!DOCTYPE html>
<html lang="ko">
<%- include('include/include', { title: '회원가입' })%>

  <body>
    <h1>회원가입</h1>
    <form name="form_register">
      <label for="userid">ID</label>
      <input id="userid" type="text" name="userid" required /><br />
      <label for="password">Password</label>
      <input id="password" type="password" name="pw" required /><br />
      <label for="nickname">Name </label>
      <input id="nickname" type="text" name="name" required /><br />
      <button type="button" onclick="register();">Register</button>
    </form>
    <!-- TODO: href 속성값 설정하기 -->
    <a href="/user/signin">Login</a>

    <script>
      // TODO: [Register] 버튼 클릭시 서버에 회원가입 요청하기
      // POST /user/signup
      async function register() {
        const form = document.forms['form_register']

        if (!form.checkValidity()) {
          form.reportValidity()
          return
        }

        try {
          const res2 = await axios({
            method: 'post',
            url: `/user/signin`,
            data: {
              userid: form.userid.value,
            }
          })
          console.log('res2', res2.data);
          const { data } = res2
          if (data && Object.keys(data).length > 0) {
            alert('이미 존재하는 아이디입니다')
            return
          }
          
          const res = await axios({
            method: 'post',
            url: `/user/signup`,
            data: {
              userid: form.userid.value,
              name: form.name.value,
              pw: form.pw.value
            }
          })
          console.log('res', res.data);

          if (res.data.id) {
            document.location.href = '/user/signin'
          }
        } catch (error) {
          console.error(error)
        }
      }
    </script>
  </body>

</html>